<p>
    training-plan-editor works!
</p>

<mat-form-field class='properties'>
    <input matInput placeholder='Название' [(ngModel)]='plan.name' />
</mat-form-field>

<div class='excercises'>
    <mat-card *ngFor='let excercise of plan.excercises' class='excercise'>
        <excercise-editor [parameters]='parameters'></excercise-editor>
    </mat-card>

    <button mat-fab (click)='add()' class='add'>
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class='buttons-panel'>
    <button mat-button (click)='cancel()'>Отмена</button>
    <button mat-raised-button color='primary' (click)='save()'>Сохранить</button>
</div>