<p class='header'>
  {{name}}
</p>

<div class='repeat'>
  <mat-form-field>
    <input matInput type='text' [placeholder]='paramAName' />
  </mat-form-field>
  <mat-form-field>
    <input matInput type='text' [placeholder]='paramBName' />
  </mat-form-field>
  <mat-form-field>
    <input matInput type='text' [placeholder]='paramCName' />
  </mat-form-field>
</div>

<div class='buttons'>
    <button mat-button>Пропустить</button>
    <button mat-raised-button color='primary'>Сохранить</button>    
</div>
